{% extends 'index.html'%}

{%block title%}
<title>اکسلریت | درباره ما</title>
{%endblock%}

{% block main %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1 style="margin-top:100px">درباره ما</h1>
                        <hr class="small">
                    </div>
                </div>
            </div>
        </div>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>مدتهاست در ایران فضای استارتاپ های و کارآفرینی به شدت داغ شده، و کمتر کسی را میشود پیدا کرد که آرزوی داشتن استارتاپ خودش را نداشتده باشد.</p>
                <p>اما معضل بزرگی که این جامعه ی رو به رشد را تهدید میکند عدم علم کافی و ابزار درست برای آموزش است، ابزاری که به کمک آن بتوان چاله های مختلف مسیر کارآفرینی را هموار کرد.
                </p>
                <p>ما در اکسلریت میخواهیم این مسیر را ساده تر کرده و به افراد کمک کنیم پله های بلند و سخت بنیان گذاری استارتاپ را با اطلاعات کامل تر و درست تر طی کنند.  </p>
                <p>ما سعی میکنیم با کیفیت ترین مطالب آموزشی را از برترین منابع موجود استخراج کرده و در اختیار شما دوستان قرار دهیم. 
                </p><p>به امید روزی که ایده های شما دیگر "آرزو" نباشند.</p>
            </div>
        </div>
    </div>

    <hr>
{% endblock %}